body{
	margin: 0px;
	padding: 0px;
}

#content {
	background: url(../images/back.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
}

#desktop {
	width: 100%;
	height: 95%;
}
/* панель задач  */
#taskpanel {
	position: fixed;
	width: 100%;
	min-height: 20px;	
	height: 5%;
	bottom: 0;
	background: url(../images/taskbar.png) no-repeat;
	z-index: 999;
}
#start {
	background: url(../images/button_A.png) no-repeat;
	position: fixed;
	bottom: 0px;
	margin: 0.25%;
	width: 56px;
	height: 5.25%;
	min-height: 35px;
	background-size: contain;
	left: 5px;
}

#start:hover {
	background: url(../images/button_B.png) no-repeat;
	background-size: contain;	
}

#start_menu {
	background: rgba(195, 195, 195, 0.12);
	border-radius: 5px;
	width: 400px;
    height: 55%;
    min-height: 250px;
    position: fixed;
	padding: 25px;
    bottom: 0px;
	background: rgba(33, 33, 33, 0.47);
	border-style: ridge;
    border-color: #6f6969;
}
/* userbar */
#avatar {
    position: relative;
    float: right;
    top: -50px;
}
#user_field{
	margin: 0px 25px;
    position: relative;
    width: 103px;
    height: 20px;
    border-style: dotted;
    border: dotted 1px;
    border-color: #b9b9b9;
    background: rgba(33, 33, 33, 0.47);
}

#user_id {
	color: white;
	padding: 3px 4px 4px 25px;
    font-size: 14px;
}

#av_border {
	margin: 0px 25px;
	width: 100px;
    height: 100px;
    border-style: ridge;
    border-color: gray;
}

#av_image {
	background: white);
    width: 100px;
    height: 100px;
	position: relative;
	z-index: -1;
}

/* new ticket*/
#new_report_form {
	text-align: center;
	position: absolute;
	background: #00678e;
	top: 25%;
	left: 25%;
	border: solid 1px rgba(0, 170, 251, 0.59);
	width: 768px;
	height: 400px;
	z-index: 0;
	color: white;
}

#new_report {
	position: relative;
	background: black;
	width: 768px;
    height: 377px;
	overflow-x: auto;
}

/* bugs_list */
#bugs_list_form {
	text-align: center;
	position: absolute;
	background: #00678e;
	top: 22%;
	left: 22%;
	border: solid 1px rgba(0, 170, 251, 0.59);
	width: 1000px;
	height: 400px;
	z-index: 0;
	color: white;	
}

#bugs_list {
	position: relative;
	background: black;
	width: 1000px;
    height: 377px;
	overflow-x: auto;
    overflow-y: inherit;
}

#bugs_list table {
	border-collapse: collapse;
	font-size: 14px;
}

#bugs_list td {
	padding: 10px; /* Поля вокруг содержимого таблицы */
	border: 1px solid gray; /* Параметры рамки */
	border-style: outset;
	text-align: center;
}
/* end */

.newreport {
	background: rgba(128, 128, 128, 0.27);
	width: 130px;
    height: 31px;
	position: relative;
	border: solid 1px cyan;
	color: white;
	cursor: pointer;
    border-style: outset;
}

.newreport:hover {
	top: 0.5px;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(9, 197, 204, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(9, 197, 204, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(9, 197, 204, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(9, 197, 204, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(9, 197, 204, 0.2));
}

.close {
	background: url(../images/close.png) no-repeat;
    position: relative;
    float: right;
    width: 23px;
    height: 23px;
	cursor: pointer;
}

.close:hover {
	background: url(../images/close-focused.png) no-repeat;
}