body{
	margin: 0px;
	padding: 0px;
}
#content {
	background: url(../images/back.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
}
#desktop {
	width: 100%;
	height: 95%;
}
/* панель задач  */
#taskpanel {
	position: fixed;
	width: 100%;
	min-height: 20px;	
	height: 5%;
	bottom: 0;
	background: url(../images/taskbar.png) no-repeat;
}
#start {
	background: url(../images/button_A.png) no-repeat;
	position: fixed;
	bottom: 0px;
	margin: 0.25%;
	width: 56px;
	height: 5.25%;
	min-height: 35px;
	background-size: contain;
	left: 5px;
}

#start:hover {
	background: url(../images/button_B.png) no-repeat;
	background-size: contain;	
}

#start_menu {
	background: url(../images/start-menu.png) no-repeat;
	width: 500px;
    height: 55%;
    min-height: 250px;
    background-size: contain;
    position: fixed;
	padding: 25px;
    bottom: -10px;
}
/* userbar */
#user_field{
	margin: 0px 160px;
	position: relative;
	background: url(../images/id.png) 100% 100% no-repeat;
	width: 100px;
	height: 23px;
	background-size: contain;
}

#user_id {
	color: cyan;
	padding: 5px 5px 5px 25px;
    font-size: 14px;
}
#under_userpic {
    padding-top: 7px;
    padding-left: 4px;
	margin: 0px 25px;
	position: relative;
	background: url(../images/under_userpic.png) no-repeat;
    width: 180px;
    height: 180px;	
	z-index: 0;
}

#vlad {
	background: url(../images/vlad.png) no-repeat;
    width: 163px;
    height: 163px;
	position: relative;
	z-index: -1;
	top: 5%;
    left: 5%;
}
#circle {
	background: url(../images/circle.png) no-repeat;
	width: 183px;
    height: 183px;
	top: -4%;
    left: -4%;
}
#glass {
	background: url(../images/glass.png) no-repeat;
	width: 170px;
    height: 170px;
}
/* new ticket*/
#new_report_form {
	background: black;
	text-align: center;
	position: fixed;
	top: 25%;
	border: solid 1px rgba(0, 170, 251, 0.59);
	left: 25%;
	width: 768px;
	height: 400px;
	z-index: 0;
}

#new_report {
	top: 23px;
	position: relative;
	width: 768px;
    height: 377px;
}

/* bugs_list */
#bugs_list_form {
	text-align: center;
	background: black;
	position: fixed;
	top: 30%;
	border: solid 1px rgba(0, 170, 251, 0.59);
	left: 25%;
	width: 768px;
	height: 400px;
	z-index: 0;
}

#bugs_list {
	top: 23px;
	position: relative;
	width: 768px;
    height: 377px;
	overflow: scroll;
}
/* end */

.newreport {
	background: rgba(128, 128, 128, 0.27);
	width: 130px;
    height: 31px;
	position: relative;
	border: solid 1px cyan;
	color: white;
	cursor: pointer;
    border-style: dotted;
}


/* Панель управления формой */
.controlBar {
	color: white;
	position: fixed;
    width: 768px;
    height: 23px;
    background-color: rgba(0, 170, 251, 0.59);
}

.close {
	background: url(../images/close.png) no-repeat;
    position: relative;
    float: right;
    width: 23px;
    height: 23px;
	cursor: pointer;
}

.close:hover {
	background: url(../images/close-focused.png) no-repeat;
}